/* regole di base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Tammudu 2'

}

header {
  background-color: lightgrey;
  height: 60px;
}

/* regole blocco di sinistra principale */
.container {
  content: "";
  display: table;
  clear: both;
  width: 60%;
  margin: auto;
}

/* regole blocco della lingua */
.block-left{
  float: left;
  margin-top: 15px;
}

svg {
  float: left;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  color: #33475b;
}

.text {
  float: left;
  font-size: 12px;
  color: #33475b;
  margin-top: 8px;
  margin-left: 10px;
}

/* regole blocco di ricerca e login */

.block-right {
  float: right;
  margin-top: 15px;
}

#login {
  font-size: 12px;
  background-color: white;
  color: #ff7a59;
  margin-left: 12px;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #ffbcac;
}

.hubspot-link {
  font-size: 12px;
  background-color: #ff7a59;
  color: white;
  margin-left: 10px;
  border-radius: 2px;
  padding: 5px;
}

hr {
  border: 1px solid black;
}
